{% extends 'base.html.twig' %}

{% block body %}

  <div class="container mt-4">
    {% if app.flashes is defined %}
    {% for message in app.flashes('notice') %}
        <div class="row px-4" id="alert-message">
            <div class="col-12 alert alert-success" role="alert"">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% endif %}

    <p class="h1 text-center">Contact us!</p>

    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    
  </div>

  
  

{% endblock %}