{% extends 'base.html.twig' %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../img/carousel1.JPG" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../img/carousel2.JPG" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../img/carousel3.JPG" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="container py-5" id="no-bg">
	<h1 class="">About the mushroom</h1>	
	<div>
		<p>			
		    Mushrooms are full of protein, fiber and many vitamins that makes
            them a perfect meat replacement and also can taste and feel like
            meat but has the benefits of a very low carbon footprint. Apart
            from this there are 6 surprising health benefit points from the
            Treehugger website:
        </p>
	</div>
	<div class="parallax"></div>
	<h1>1. They have cancer-fighting properties.</h1>	
	<div>
		<p>
		    A study published in the journal Experimental Biology and Medicine
            tested five types of mushrooms (maitake, crimini, portabella,
            oyster and white button) and found that they "significantly
            suppressed" breast cancer cell growth and reproduction, suggesting
            "both common and specialty mushrooms may be chemoprotective
            against breast cancer."
        </p>
	</div>
	<div class="parallax_1"></div>
	<h1>2. Mushrooms are immunity-boosters.</h1>	
	<div>
		<p>
            We now know that lentinan can boost your immune system, but it has
            a helper, too. Beta-glucan is a sugar found in the cells walls of
            fungi (among other plants) that also helps boost your immune
            system. Lentinan comes from shiitake mushrooms, but beta-glucan is
            found in many varieties, namely the common button mushrooms.
        </p>
	</div>
	<div class="parallax_2"></div>
	<h1>3. They help lower cholesterol.</h1>	
	<div>
		<p>
            In general, mushrooms are cholesterol free, but they're also a
            good source of chitin and beta-glucan, which are fibers that lower
            cholesterol. A study in the International Journal of Medicinal
            Mushrooms in the International Journal of Medicinal Mushrooms
            found that pink oyster mushrooms reduced total cholesterol and LDL
            ("bad" cholesterol) in hypercholesterolemic rats.
        </p>
	</div>
	<div class="parallax_3"></div>
	<h1>4. They're high in B and D vitamins.</h1>	
	<div>
		<p>
            Mushrooms are one of the few food sources for vitamin D, a
            fat-soluble vitamin that our bodies can make with exposure to
            sunlight and vitamin B12, which is key for vegetarians as it's
            most often found in animal products.
        </p>
	</div>
	<div class="parallax_4"></div>
	<h1>5. Mushrooms have anti-inflammatory powers.</h1>	
	<div>
		<p>
            Mushrooms contain a powerful antioxidant called ergothioneine,
            which helps lower inflammation throughout the body. Multiple
            studies have shown that reishi mushrooms have multiple health
            benefits: They fight disease, lower inflammation, suppress
            allergic responses, reduce tumor growth and more.
        </p>
	</div>
	<div class="parallax_5"></div>
	<h1> 6. They could help fight aging.</h1>	
	<div>
		<p>
            In a study at Penn State, researchers found that mushrooms have
            high amounts of two antioxidants, ergothioneine and glutathione,
            which are both associated with anti-aging properties. "What we
            found is that, without a doubt, mushrooms are the highest
            dietary source of these two antioxidants taken together, and that
            some types are really packed with both of them," said Robert
            Beelman, professor emeritus of food science and director of the
            Penn State Center for Plant and Mushroom Products for Health, in a
            statement. The amounts of the antioxidants vary by species; the
            winner "by far" was the wild porcini mushroom, researchers said.
            Similarly, a 2019 study found that seniors who ate more than 300
            grams of cooked mushrooms a week were half as likely to have mild
            cognitive impairment. The six-year study — conducted from 2011 to
            2017 — collected data from more than 600 seniors over the age of
            60 living in Singapore. The researchers looked at ergothioneine as
            the possible reason for this impact.
        </p>
	</div>
</div>


{% endblock %}