{% extends 'base.html.twig' %}

{% block body %}

<div class="container py-5">

	<h1 class="text-right">WHO IS NORA?</h1>	
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="row">
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/mai.jpg">
				</div>
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/she.jpg">
				</div>
			</div>						
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12">		
			<p class="font-weight-bold p-3">			
			    Nora decided to act on her Climate Grief and started looking for
        	    solutions that are doing good for the environment and somewhat
        	    profitable. She wanted to help lowering meat consumption and at
        	    the same time clean the environment. Months of research has
        	    started and finally the answer was: A Vienna based company called
        	    Hut&Stiel that recycles coffee waste and turns it into delicious
        	    Oyster mushroom. Nora started her internship at the company right
        	    away.
        	</p>
        </div>
	</div>

	<h1 class="text-right mt-5">HOW IT ALL STARTED?</h1>	
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="row">
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/logo.png">
				</div>
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/okt.jpg">
				</div>
			</div>						
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12">		
			<p class="p-3">			
			    In the 3rd district of Vienna in Markhofgasse there is a coworking
        	    space full of vibrant people with life and energy. Apart from the
        	    many people there are many spaces also. At the end of 2019 in one
        	    of the basements that is not too big and not too small renewal
        	    working has started. Viennese people like to drink coffee. They
        	    like to drink coffee a lot and there are thousands of kilograms of
        	    coffee grounds ending up in the trash day by day.
        	</p>
        	<div class="row">
        		<div class="col-lg-6 col-md-6 col-sm-12">
        			<iframe width="500" height="150" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.6940646226435!2d16.406720115650987!3d48.19324577922793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d075b1edff245%3A0xaef7a8ddf96bc82d!2sMarkhofgasse%2019%2C%201030%20Wien!5e0!3m2!1sde!2sat!4v1597503405147!5m2!1sde!2sat" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        		</div>
        		<div class="col-lg-6 col-md-6 col-sm-12 coffee">
        		</div>
        	</div>
        	
        </div>
	</div>

	<h1 class="text-right mt-5">HOW DOES IT WORK?</h1>	
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="row">
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/logo.png">
				</div>
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/dez.jpg">
				</div>
			</div>						
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12">		
			<p class="p-3">			
			    Instead of going to the garbage the daily collected coffee grounds
        	    go to Hut & Stiel's production site where they are carefully
        	    turned in to mushroom substrate. The substrate goes in to bags and
        	    the bags go in to the incubational room. After 3 weeks of
        	    incubating they go to Nora's basement to fruit and to be
        	    harvested.
        	</p>
        </div>
	</div>	
	
	<h1 class="text-right mt-2">TIME TO START!</h1>		
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6">
					<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal">
  					  <div class="img mt-1">
  					      <img class="img-fluid rounded img-thumbnail" src="../img/15.jpg">
  					   </div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      <!-- Modal body -->
  					      <div class="modal-body bg-warning">
  					        <img class="img-fluid rounded" src="../img/15.jpg">
  					      </div>
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>
				</div>
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/jan.jpg">
				</div>
			</div>						
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12">
			<p class="p-3">			
			    After months of hammering, disassembling, assembling, painting,
        	    cleaning, drilling, cleaning, fixing and then cleaning the
        	    basement started to appear like a 70 square meters mushroom farm.
        	</p>
        	<div class="d-flex flex-wrap justify-content-around p-3">
        		<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal2">
  					  <div class="img mt-1">
  					      <img class="img-fluid rounded img-thumbnail" src="../img/6.jpg">
  					   </div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal2">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      <!-- Modal body -->
  					      <div class="modal-body bg-warning">
  					        <img class="img-fluid rounded" src="../img/6.jpg">
  					      </div>  					      
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>        		
        		<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal3">
  					  <div class="img mt-1">
  					      <img class="img-fluid rounded img-thumbnail" src="../img/7.jpg">
  					   </div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal3">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      <!-- Modal body -->
  					      <div class="modal-body bg-warning">
  					        <img class="img-fluid rounded" src="../img/7.jpg">
  					      </div>
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>
        		<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal4">
  					  <div class="img mt-1">
  					      <img class="img-fluid rounded img-thumbnail" src="../img/8.jpg">
  					   </div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal4">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      <!-- Modal body -->
  					      <div class="modal-body bg-warning">
  					        <img class="img-fluid rounded" src="../img/8.jpg">
  					      </div>
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>
        		<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal5">
  					  <div class="img mt-1">
  					      <img class="img-fluid rounded img-thumbnail" src="../img/9.jpg">
  					   </div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal5">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      <!-- Modal body -->
  					      <div class="modal-body bg-warning">
  					        <img class="img-fluid rounded" src="../img/9.jpg">
  					      </div>
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>
        	</div>
        </div>
	</div>

	<h1 class="text-right mt-2">THE FIRST BAGS HAS ARRIVED!</h1>	
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="row">
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/logo.png">
				</div>
				<div class="img col-lg-12 col-md-12 col-sm-6">
					<img class="img-fluid" src="../img/zahl.jpg">
				</div>
			</div>						
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12">
			<p class="p-3">			
		    	Nora started the production with 50 bags of incubated oyster
              	mushroom (Pleurotus ostreatus) and 4 bags of Lion's Mane (Hericium
              	erinaceus) that are from a Hungarian mushroom company. LaGomba
              	Urban Mushroom
        	</p>
        	<div class="d-flex flex-wrap justify-content-around p-3">
        		<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal6">
  					  <div class="img mt-1">
  					      <img class="img-fluid rounded img-thumbnail" src="../img/10.jpg">
  					   </div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal6">
  					  	<div class="modal-dialog modal-dialog-centered">
  					    	<div class="modal-content">
  					      
  					      		<!-- Modal body -->
  					      		<div class="modal-body bg-warning">
  					        		<img class="img-fluid rounded" src="../img/10.jpg">
  					      		</div>
  					        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					  		</div>
  						</div>
					</div>
        		</div>
        		<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal7">
  					  	<div class="img mt-1">
  					      	<img class="img-fluid rounded img-thumbnail" src="../img/11.jpg">
  					   	</div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal7">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      	<!-- Modal body -->
  					      	<div class="modal-body bg-warning">
  					        	<img class="img-fluid rounded" src="../img/11.jpg">
  					      	</div>
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>
        		<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal8">
  					 	<div class="img mt-1">
  					      	<img class="img-fluid rounded img-thumbnail" src="../img/12.jpg">
  					   	</div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal8">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      	<!-- Modal body -->
  					      	<div class="modal-body bg-warning">
  					        	<img class="img-fluid rounded" src="../img/12.jpg">
  					      	</div>
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>
				<div>
					<!-- Button to Open the Modal -->
  					<button type="button" class="btn" data-toggle="modal" data-target="#myModal9">
  					  	<div class="img mt-1">
  					      	<img class="img-fluid rounded img-thumbnail" src="../img/13.jpg">
  					   	</div>
  					</button>

  					<!-- The Modal -->
  					<div class="modal fade" id="myModal9">
  					  <div class="modal-dialog modal-dialog-centered">
  					    <div class="modal-content">
  					      
  					      	<!-- Modal body -->
  					      	<div class="modal-body bg-warning">
  					        	<img class="img-fluid rounded" src="../img/13.jpg">
  					      	</div>
  					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  					    </div>
  					  </div>
  					</div>
				</div>
        	</div>
		</div>		
	</div>

	<h1 class="text-right mt-5">ARE YOU INTERESTED?</h1>	
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-3">
			<div class="hey">
				<img class="img-fluid rounded" src="../img/14.jpg" alt="">
			</div>						
		</div>
		<div class="col-lg-8 col-md-8 col-sm-9">
			<p class="p-3">			
			   	If you would like to order fresh urban farmed eco-friendly Oyster
        	   	Musrhoom, please contact Nora on mobile: +43 664-564-40-86 or
        	   	email: rr.noar@gmail.com LaGomba Urban Mushroom
        	</p>
        </div>
	</div>
		
</div>

{% endblock %}
