{% extends 'base.html.twig' %}

{% block title %}LaGomba{% endblock %}


{% block body %}  
<div class="container py-5">

  <p class="h1 text-center">There´re so many Recipes</p>
  <p class="text-center">some chosen ones</p>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mt-2">

      <!-- <h2>Simple Collapsible</h2> -->
      <a href="#cauliflower" class="" data-toggle="collapse">
        <div>
          <div>
            <img class="img-fluid" src="../img/cauli.png" alt="">      
          </div>
          <div class="d-flex justify-content-around p-2 bg-warning">
            <div class="icon">
              <img class="img-fluid" src="../img/icon-rezept.png" alt="">
            </div>
            <div class="icon img-fluid">
              <img class="img-fluid" src="../img/icon-clock.png" alt="">
            </div>
          </div>
        </div>
      </a>

      <div id="cauliflower" class="collapse p-2">
        
        <h2 class="font-weight-bold">Step. 1</h2>
        <hr />
        <p class="mt-1 text-center">One layer of steamed cauliflower</p>
    
        <h2 class="font-weight-bold">Step. 2</h2>
        <hr />
        <p class="mt-1 text-center">
          One layer of cooced minced mushrooms with onion and
          paprika
        </p>

        <h2 class="font-weight-bold">Step. 3</h2>
        <hr />
        <p class="mt-1 text-center">
          One layer of cooced (or steamed) rice.Basmati I use
          here
        </p>
    
        <h2 class="font-weight-bold">Step. 4</h2>
        <hr />
        <p class="mt-1 text-center">
          One cup of (vegan) sour cream and cheese goes on
          top.
        </p>

        <h2 class="font-weight-bold">Step. 5</h2>
        <hr />
        <p class="mt-1 text-center">
          With cheese avoid strong taste otherwise the whole
          dish will taste like your cheese.
        </p>

        <h2 class="font-weight-bold">Step. 6</h2>
        <hr />
        <p class="mt-1 text-center">
          25 minutes on 180 C or until the surface is golden
          brown
        </p>

        <h2>Step. 7</h2>
        <hr />
        <p class="mt-1 text-center">A mincer and some great oyster mushrooms</p>

        <h2 class="font-weight-bold">Step. 8</h2>
        <hr />
        <p class="mt-1 text-center">minced mushroom</p>

        <h2 class="font-weight-bold">Step. 9</h2>
        <hr />
        <p class="mt-1 text-center">
          Chopped onion fries till soft with a half tablespoon
          paprika
        </p>

        <h2 class="font-weight-bold">Step. 10</h2>
        <hr />
        <p class="mt-1 text-center">
          Fry the minced mushroom with the onion base for 5
          minutes.
        </p>

        <h2 class="font-weight-bold">Step. 11</h2>
        <hr />
        <p class="mt-1 text-center">
          Try to use a steamer or you can boil the cauliflower
          for 5 minutes.
        </p>

        <h2 class="font-weight-bold">Step. 12</h2>
        <hr />
        <p class="mt-1 text-center">When soft then ready for layering.</p>
      </div>              
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mt-2">

      <a href="#Jerky" class="" data-toggle="collapse">
        <div>
          <div>
            <img class="img-fluid" src="../img/jerky.png" alt="">      
          </div>
          <div class="d-flex justify-content-around p-2 bg-warning">
            <div class="icon">
              <img class="img-fluid" src="../img/icon-rezept.png" alt="">
            </div>
            <div class="icon img-fluid">
              <img class="img-fluid" src="../img/icon-clock.png" alt="">
            </div>
          </div>
        </div>
      </a>

      <div id="Jerky" class="collapse p-2">
    
        <h2 class="font-weight-bold">Step. 1</h2>
        <hr />
        <p class="mt-1 text-center">For 20 minutes boil as many shredded Oyster Mushroom as possible</p>

        <h2 class="font-weight-bold">Step. 2</h2>
        <hr />
        <p class="mt-1 text-center">
          Make the Marinade Sauce of your dreams!The style + taste is up to you
        </p>

        <h2 class="font-weight-bold">Step. 3</h2>
        <hr />
        <p class="mt-1 text-center">
          Both of you should rest a littlebit
        </p>

        <h2 class="font-weight-bold">Step. 4</h2>
        <hr />
        <p class="mt-1 text-center">
          Whisk the Marinade in gently and put it in the fridge for 24 hours
        </p>

        <h2 class="font-weight-bold">Step. 5</h2>
        <hr />
        <p class="mt-1 text-center">
          Place them next to each other and put them in a fruit dryer or the owen
        </p>

        <h2 class="font-weight-bold">Step. 6</h2>
        <hr />
        <p class="mt-1 text-center">
          Dry them on around 50°C for about 7-8 hours
        </p>

        <h2>Step. 7</h2>
        <hr />
        <p class="mt-1 text-center">
          Yes, that's right!Around 7-8 hours!
          If you only have oven, set it on lowest and
          leave the door open a bit so the steam can leave.
              <br>
          At this stage you can be ready! or! - start melting
          some chocolate...
        </p>

        <h2 class="font-weight-bold">Step. 8</h2>
        <hr />
        <p class="mt-1 text-center">
          Dip them in the nicest melted chocolate you have
          and let them cool down.
              <br>
          Warning: by the time you finish, the jerky might also be..
          Even if you have started with many kilograms of mushroom, 
          in this form it will disappear in no time!
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

