<!-- Footer -->
<footer class="page-footer font-small unique-color-dark bg-warning">

  <div class="bg-secondary">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

      
      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class=" text-md-left">

    <!-- Grid row -->
    <div class="row mt-3 p-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">LaGomba</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>A Vienna based small scale mushroom farm that cultivates delicious Oyster mushrooms.</p>

        <h6 class="text-uppercase font-weight-bold">Product</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Austernpilz and Oyster mushroom</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">social media</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.facebook.com/LaGomba-103065104591559" class="text-secondary font-weight-bold">Facebook</a>
        </p>        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">products</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/" class="text-secondary font-weight-bold">About mushrooms</a>
        </p>
        <p>
          <a href="/webshop" class="text-secondary font-weight-bold">Webshop</a>
        </p>
        <p>
          <a href="/nora" class="text-secondary font-weight-bold">About us</a>
        </p>
        <p>
          <a href="/recipes" class="text-secondary font-weight-bold">Recipes</a>
        </p>
        <p>
          <a href="/contact" class="text-secondary font-weight-bold">Contact</a>
        </p>  

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-2"></i>Markhofgasse 19, 1030 Wien</p>
        <p>
          <i class="fas fa-envelope mr-2"></i> rr.noar@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-2"></i>+43 664 564 40 86</p>
        
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
    <a href="/" class="text-secondary font-weight-bold"> LaGomba</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->