{% extends 'base.html.twig' %}

{% block title %}Please register{% endblock %}

{% block body %}
    <div class="container my-5">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    
        <h1>Please register</h1>
    
        {{ form_start(registrationForm) }}
    
        {{ form_end(registrationForm) }}
    </div>
    {% endblock %}

