{% extends 'base.html.twig' %} {% block body %}
<div class="container my-5">
    {% if app.request.attributes.get("_route") == 'edit_mushroom' %}
        <a href="/webshop/mushroom/{{ id }}" class="btn btn-light mb-3"><i class="fa fa-backward"></i> Back</a>
    {% else %}
        <a href="/webshop" class="btn btn-light mb-3"><i class="fa fa-backward"></i> Back</a>
    {% endif %}
    <br />
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 card card-body bg-warning mb-4">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
